<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="criticismEngineImplementation"
          class="concert.CriticismEngineImpl" >
        <property name="criticismPool">
            <list>
                <value>I'm not being rude, but that was appalling.</value>
                <value>You may be the least talented person in this show.</value>
                <value>Do everyone a favor and keep your day job.</value>
            </list>
        </property>
    </bean>

    <bean  class="myaspects.CriticAspect" factory-method="aspectOf">
        <!-- 一定要加 factory-method 否则依赖注入不成功，依然为 null  -->
        <property name="criticismEngine" ref="criticismEngineImplementation" />
        <!-- 虽然编译时可能会显示错误，但是运行没有问题，可能是编译检查的方式不对-->
    </bean>

    <bean id = "singer" class="concert.Singer">
        <constructor-arg value="singer-arg"/>
        <constructor-arg value="song-arg"/>
    </bean>
</beans>